<%if @error%>
  <%=@error%>
<%end%>
<h1 id = 'header'>Glitter Space</h1>
<form id="create_account" action="/users/new" name="create_account" method="post">
  Sign Up:&nbsp&nbsp
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password_hash">
  <input type="submit" value="Go">
</form>


<form id="sign_up" action="/sessions/new" name="login" method="post">
  Log in
  <input type="text" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <input type="submit" value="Login">
</form>
