<div class='nav'>
  <%=erb :_all_surveys_link%>
  <%=erb :_user_profile_link%>
  <%=erb :_logout_button%>
</div>

<h1>Create a Survey</h1>
<form id="survey" name="input" action="/surveys" method="post">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title"><br><br>

  <div class="survey-builder">
  <!-- Questions will get dynamically shoved in here -->
  </div>
  <input id="add-question" type="submit" value="Add a new question!">

  <input type="submit" value="Create Survey">
</form>


<div id="question_template" style="display:none;">
  <div class="question-container">
    <h2>Question</h2>
    <label for="prompt">Prompt</label>
    <input type="text" name="prompt" class="question">
    <input class = "optiona" type="text" name="optiona" placeholder="Option">
    <input class = "optionb" type="text" name="optionb" placeholder="Option">
    <input class = "optionc" type="text" name="optionc" placeholder="Option">
    <!-- options will get dynamically shoved in here  -->
  </div>
    <!-- <input id="add-option" type="submit" value="Add an option!"> -->
</div>

<div id="option_template" style="display:none;">
  <input class = "option" type="text" name="option" placeholder="Option">
</div>
